<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Replenishment | Kelvic_the_Artist</title>
  <link rel="stylesheet" href="../css/base.css">
</head>
<body>
  <header>
    <nav>
      <a href="../index.html">Home</a>
      <a href="admin_login.html">View as admin</a>
      <a href="bill_of_materials.html">Bill of Materials</a>
      <a href="add_new_artwork.html">Add New Artwork</a>
      <a href="dashboard.html">Admin Dashboard</a>
      <a href="inventory_management.html">Inventory Management</a>
      <a href="order_management.html">Order Management</a>
      <a href="replenishment.html">Replenishment</a>
      <a href="suppliers.html">Suppliers</a>
      <a href="baseline_data.html">Baseline Data</a>
    </nav>
  </header>

  <main>
    <h1>Baseline Data</h1>
    <p>current stockouts,admin time, past sales data.</p>
  </main>

  <footer>
    <p>&copy; 2026 Kelvic_the_Artist</p>
  </footer>
</body>
</html>